.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
.env
node_modules
vendor
storage/*
!storage/app/public
!storage/framework
!storage/framework/cache
!storage/framework/sessions
!storage/framework/views
*.sqlite
*.md
.DS_Store
.idea
.phpunit.result.cache
docker-compose.*
fly.toml
deploy.sh
